@model RebornCheckerBoardMain.Models.IssueToken.IssueTokenModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>IssueTokenModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TokenType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TokenType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TokenContent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TokenContent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Reason)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reason)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmailAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmailAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comments)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comments)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TokenCode }) |
    @Html.ActionLink("Back to List", "Index")
</p>
