@model IEnumerable<RebornCheckerBoardMain.Models.IssueToken.IssueTokenModel > 

@{
    ViewBag.Title = "Issued Tokens";
}

<h2>Issued Tokens </h2>

<div>
    <h4>IssueTokenModel</h4>
    <hr />
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TokenType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TokenContent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TokenValue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reason)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmailAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comments)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TokenType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TokenContent)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TokenValue)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Reason)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EmailAddress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Comments)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.ActionLink("Deactivate", "Deactivate", new { id = item.TokenCode }) |
                  
                    @Html.ActionLink("Delete", "Delete", new { id = item.TokenCode })
                </td>
            </tr>
        }
        </div>
        </table>
     @*<p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.TokenCode }) |
        @Html.ActionLink("Back to List", "Index")
    </p>*@   
