@model RebornCheckerBoardMain.Models.TokenCategory

@{
    ViewBag.Title = "Verification";
}

<h2>Transaction details</h2>
<h3>Is this correct</h3>
<div>
    <h4>TokenCategory</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Content)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Content)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Value)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Value)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ValueLabel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValueLabel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ValueRange)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValueRange)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ValueMin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValueMin)
        </dd>
    </dl>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Submit" class="btn btn-default" /> |
            @*Link text, actionName *@
 @*How to set this so it saves the data was already entered and stores it in the page UNTIL it's submitted?*@
            @Html.ActionLink("< Prev", "Index")
           @*How to set a home button if it's in a different folder?*@
        </div>
    }
</div>